*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
header{
    display: flex;
  justify-content: center; 
  align-items: center;  
}
.nav_logo a{
    max-height: 50px;
    height: 100%;
    max-width: 150px;
    width: 100%;
}
.logo img{
    /* background-image: url("./images/elite_logo3.png");
    background-size: cover; */
    border: 2px;
    border-radius: 5%;
    height: 50px;
    width: 100%;
}
.mainbody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbox{
    max-height: 370px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    border-radius: 5%;
    align-items: center;
    justify-content: center;
}
.loginbox p{
font-size: 0.85rem;
}
.email{
    height: 30px;
    max-width: 340px;
    width: 100%;
    margin-top: 5px;
}

.pwd{
    height: 30px;
    max-width: 340px;
    width: 100%;
    margin-top: 5px;
}

.loginbtn{
    height: 40px;
    width: 350px;
    cursor: pointer;
    background-color: rgb(255, 213, 0);
    border: none;
    border-radius: 20px;

}

.loginbtn:hover{
    background-color: rgb(243, 182, 0);
}
.loginbtn a{
  text-decoration: none;
    color: black;
}
.loginbtn a:hover{
 background-color: rgb(243, 182, 0);
}
.bussacc a{
    color: #2162a1;
}

.bussacc{
    text-decoration: none;
    color: #2162a1;
    font-size: 0.85rem;
}

footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

footer a{
    text-decoration: none;
     color: #2162a1;
     white-space: pre-wrap;
}