*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}



/* .sample{ */
    /* height: ; */
    /* width:  */
    /* background-color:  */
    /* color:  */
    /* font-size:  */
    /* font-weight:  */
    /* display:  */
    /* justify-content:  */
    /* align-items: */
    /* position: fixed; */
    /* margin: */
    /* Padding: */
    /* z-index: 1; */
    /* border: */
/* } */



/* HEADER */

.navbar{
    height: 60px;
    width :100%; 
    background-color: #ff6200 ;
}


/* PANEL */

.panel{
 height: 40px;
    width :100%; 
    background-color: #f58300a5; 

}



/* HERO PANEL */

.hero_panel{
 height: 400px;
    width :100%; 
    background-color: #663700; 
    background-image: url(hero_image.jpg);
    background-size: cover;
}

/* SHOP PANEL */

.shop_content{
 height: 1080px;
    width :100%; 
    background-color: #e3e6e6;
}

.box-content{
         height:380px;
    width: 280px;
    background-color: #f3ffff
    /* color:  */
    /* font-size:  */
    /* font-weight:  */
    /* display:  */
    /* justify-content:  */
    /* align-items: */
    /* position: fixed; */
    /* margin: */
    /* Padding: */
}

.box-img{
    height: 320px;
    width:86%;
    margin-left: 20px;
}
/* FOOTER */

.foot_panel1{
 height: 40px;
    width :100%; 
    background-color: #37475a; 
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_panel1:hover{
    background-color: #4a607b;
}
.foot_panel2{
 height: 380px;
    width :100%; 
    background-color: #232f3e; 
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.foot_panel2 ul{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

ul p{
    font-weight: 700;
}
ul a{
    font-size: 0.85rem;
    padding-top: 15px;
 }

.foot_panel3{
 height: 60px;
    width :100%; 
    border-top: 0.5px solid white;
    background-color: #232f3e; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_logo{
    width: 100px;
    height: 40px;
    background-image: url(amazon_logo.png);
    background-size: cover;
    
}
.foot_panel4{
 height: 40px;
    width :100%; 
    background-color: #0f1111; 
}













