*{
    margin: 0;
    padding:0;
    font-family: Arial;
    border: border-box;
}

body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}
.page-wrapper {
  max-width: 1520px;
  min-width: 1200px;
  margin: 0 auto;
}
hr{
  border-top: 1px solid #e0e0e0;
}
.header{
    position:relative;
}
.navbar{
    max-height: 60px;
    height: 100%;
    width: 1500px;
    width: 100%;
    background-color: #01288a;
    color: white;
    display: flex;
   
    justify-content: space-evenly;
    
}
.nav_logo{
    max-height: 50px;
    height: 100%;
    max-width: 120px;
    width: 100%;
}
.logo{
    background-image: url("./images/elite_logo3.png");
    background-size: contain;
    border: 2px;
    border-radius: 5%;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
    border-radius: 5%;
}
.border:hover{
    border: 2px solid white;
    border-radius: 5%;
}
/** Box 2 - Delivery **/
.nav_address{
    height: 50px;
    width: 85px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}
#del{
    font-size:small;
    max-width:100px;
    width: 100%;
}       
#ind{
    font-weight: bold;
    text-align: left;
}
/** box 3 - Search bar **/
.search_and_dd{
    max-width: 900px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
}
.search_and_dd:active{
    border-color: black;
    border-style: ridge;
}
#schbar{
    max-width: 900px;
    width:100%;
    border: transparent;
    font-size: 1rem;
}
#schion{
    max-width: 40px;
    width:100%;
    height: 40px;
    border:none;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
border-top-right-radius: 10%;
border-bottom-right-radius: 10%;
    background-color: rgb(227, 227, 227);
}
.all_dpt{
    max-width: 38px;
    width: 100%;
    height: 40px;
    background-color: rgb(234, 234, 234);
    border: transparent;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    color: rgb(38, 38, 38);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.all_dpt:hover{
    color:black;
    background-color: rgb(199, 198, 198);
}
/** Box 4 - Sign in **/
span{
    font-size: 0.7rem;
    padding-top: 10px;
    display: flex;
    padding: 0px 10px 0px 10px;
    align-items: center;
}
.nav_signin a{
    text-decoration: none;
    color: #ffffff;
}
.nav_signin:hover{
    width:105px;
    height: 50px;
    border:2px solid white;
}
.nav_return{
    width:65px;
    height: 50px;
}
.nav_return:hover{
border:2px solid white;
}
.nav_sec{
    width: 110px;
    font-size: 0.75rem;
    font-weight: 700;
}

/** Box 5 - Cart**/
.nav_cart i{
    font-size:20px;
    font-weight: 0.85rem;
}
.nav_cart:hover{
    border: 1px solid white;
}
.nav_cart{
    max-width: 60px;
    width: 100%;
    height: 40px;
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/

.panel{
    height: 40px;
    width: 100%;
    background-color: #f58300;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}
.panel-ops{
    
    width:100%;
display: flex;
font-size: 0.90rem ;
}
.panel-ops a{
    height:40px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.panel-ops a:hover{
    box-sizing: border-box;
     border: 1.5px white solid ;
}
/* .panel-blafri{
font-size: 0.90rem ;
font-weight: 700;
} */
.hamburger{
    height: 40px;
    width:60px;
    font-weight: 600;
    font-size: 0.90rem ;
    cursor: pointer;
     background-color: #f58300;
     text-decoration: none;
    color: #ffffff;
    display: flex;
    border: none;
    align-items: center;
}
.hamburger:hover{

    border: 1.5px white solid ;
}

.panel-all a{
   
     text-decoration: none;
    color: #ffffff;
}

/* Side menu */
#sideMenu {
position: fixed;
top: 0;
left: 0;  
transform: translateX(-100%);
transition: transform 0.3s ease;
width: 350px;
background: #ffffed;
scroll-behavior: smooth;
height: 98vh;          
overflow-y: auto;    
overflow-x: hidden; 
z-index: 35;
}
#sideMenu.open {
 transform: translateX(0);            /* visible */
}

#sideMenu p {
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.85rem;
}
#sideMenu a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.85rem;
}
#sideMenu h3{
    padding: 10px;
    color: black;
}

#menusignin{
    height: 40px;
    padding: 30px;
    background-color: #021d3d;
}
#menusignin a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

/* OVERLAY */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* SIDEBAR */
#sideMenu {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

#overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/** hero section **/
.hero-section{
    position: relative;
    height: 500px;
    max-width: 1600px;
    width: 100%;
    align-self: center;
    align-self: center;
background-size: cover;
justify-content: center;
align-items: flex-end;
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero-track-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.hero-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}


.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dot.active {
  background: white;
}

.hero-msg{
    position: absolute;
    min-height: 40px;
    max-width:1000px;
    width:100%;
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: 0.85em;
    position: relative;
    margin-bottom: 25px;
}

.hero-msg p{
    color: #000000;
    text-decoration: none;
  
}
.hero-msg a{
    color: #007185;
    text-decoration:underline;
}

.hero image{
     height: 500px;
    max-width: 1600px;
    width: 100%;
    
background-size: cover;
display: flex;
justify-content: center;
align-items: flex-end;
}
/** Shop Section**/

.shop-sec{
    max-height: 3300px;
    height:100%;
    max-width: 1600px;
    width:100%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
    background-color: #e3e6e6;
}
.box{
    height: 375px;
    max-width: 305px;
    width: 100%;
    margin-top: 15px;
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
    background-color: white;
    
}
.box-content{
display: flex;
padding-top: 10px;
    flex-direction: column;
    
}
.box h3{
    padding-left:17px;
}

.box-img{
    height: 300px;
    width:86%;
    margin-top: 10px;
    background-size: cover;
    margin-left: 20px ;
}
.box-content p{
    font-size: small;
    color: #2162a1;
   padding-left: 18px;
   padding-top: 10px;
}

/** Footer Section**/

.foot_panel1 a{
width:100%;
height:40px;
text-decoration: none;
color:white;
font-size: 0.85rem;
background-color: #37475a;
display: flex;
justify-content: center;
align-items: center;
}
.foot_panel1 a:hover{
    background-color: #4d617a;
    text-decoration: none;
}

.foot_panel2{
    width:100%;
    height: 385px;
    color: #e3e6e6;
    background-color: #021d3d;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.foot_panel2 a{
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.foot_panel2 a:hover {
text-decoration: underline;
}
ul a{
    display: block;
    margin-top: 15px;
    font-size: 0.85rem;
}

.foot_panel3{
height:80px;
color:white;
border-top: 0.3px solid white;
background-color: #232f3e;
display: flex;
justify-content: center;
align-items: center;
scroll-behavior: smooth;
}

.foot_logo{
background-image: url("./images/elite_logo3.png");
background-size: cover;
border-radius: 5%;
height: 50px;
width: 150px;
}

.conditons{
    height:30px;
    width: 100%;
color:white;
font-size: 0.85rem;
background-color: #0f1111;
display: flex;
justify-content:space-evenly;
align-items: center;
}
.copyright{
 height:20px;
 max-width: 1500px;
color:white;
font-size: 0.85rem;
background-color: #0f1111;
display: flex;
justify-content:center;
align-items: center;
}

/* @media(min-width: 300px) and (max-width: 1170px){
    .hero-msg{
        font-size: 0.7rem;
    }

    .shop-sec{
        height: 1200px;
    }

    .navbar{
    width : 100%;

    }

    .foot_panel2{
    width:100%;
    height: 385px;
    font-size: 0.55rem;
}
    .foot_panel3{
height:80px;
color:white;
font-size: 0.55rem;

}
} */